.challenge_container {
    height: 750px;
    overflow: hidden;
    position: relative;

}

.backgroundimage {
    opacity: 0.6;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    margin: 0px;
}

.challenge_content {
    position: relative;
    margin-top: 130px;
    margin-left: 30px;
}

.content_challenge {
    font-weight: bold;
    margin-left: 100px;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin-left: 50px;
    margin-top: 50px;
  }
  
  label {
    font-weight: bold;
    margin-bottom: 8px;
    color: #333;
  }
  
  input[type='file'] {
    margin-bottom: 16px;
  }
  
  img {
    margin-top: 8px;
    max-width: 100%;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  textarea {
    height: 100px;
    width: 300px;
    margin-bottom: 16px;
    margin-top: 16px;
    resize: none;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  
  button {
    padding: 12px;
    width: 320px;
    background-color: #EA906C;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #e27e56;
  }

